.portal-login {
}

.portal-button {
  background-color: #01b5b6;
  border: 3px solid #01b5b6;
  border-radius: 8px;
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  margin: 3rem 2rem;
  padding: 1rem;
}

a {
  text-decoration: none;
}

#return-home {
  margin-bottom: 5rem;
}
