.rsvp-form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

label {
  font-size: 1.3em;
}

select,
input {
  border: 1px solid #ccc;
  font-size: 1rem;
  text-align: center;
  margin: 1rem;
  padding: 0.5em;
}

option {
  font-size: 2rem;
  text-align: center;
}

#rsvp-button {
  background-color: #8bc800;
  border: 3px solid #8bc800;
  border-radius: 8px;
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  margin: 3rem 2rem;
  padding: 1rem;
}
