/* Color guide:
blue: #01b5b6;
green: #8bc800;
yellow: #ffd71a;
orange: #e78901;
pink: #e90041;  */

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 65px;
  padding: 15px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* Universal Styles */

h1,
h2,
h3,
h4,
p,
a,
body,
ul,
li,
small,
button,
label,
select,
option,
input {
  font-family: "Raleway", sans-serif;
}
